{% extends 'base.html.twig' %}

{% trans_default_domain 'about_content' %}

{% block title %}{{ 'about.page.mainTitle' | trans }}{% endblock %}

{% block body %}

  <section class="container max-w-5xl mx-auto py-8 dark:text-white">
    <div class="profil__me">
      <div class="profil__me_title">
        <h1 class="text-3xl font-semibold text-gray-500">{{ 'about.page.subtitle' | trans }}</h1>
        <h2 class="text-7xl font-black">{{ 'about.page.title1' | trans }}</h2>
      </div>
      <div class="flex justify-between profil__me_content mt-10">
        <div class="mr-16 text-lg leading-8">
          <p class="mb-6 text-justify">{{ 'about.page.presentation1' | trans }}</p>
          <p class="text-justify">{{ 'about.page.presentation2' | trans }}</p>
        </div>
        <div class="profil__me_picture">
          <img src="../img/profile_img2.jpg" alt="photo visage" class="rounded-lg">
        </div>
      </div>
    </div>

    <div class="profil__parcours mt-8">
      <div class="profil__parcours_title text-right mb-8">
        <h2 class="text-7xl font-black">{{ 'about.page.title2' | trans }}</h2>
      </div>
      <div class="flex flex-row-reverse profil__parcours_content">
        <div class="ml-16 text-lg leading-8">
          <p class="mb-6 text-justify">{{ 'about.page.cursus1' | trans }}</p>
          <p class="text-justify">{{ 'about.page.cursus2' | trans }}</p>
        </div>
        <div class="profil__parcours_picture rounded">
          <img src="../img/profile_img1.jpg" alt="photo ordinateur" class="rounded-lg">
        </div>
      </div>
    </div>

    <hr class="my-5 w-6/12 mx-auto">

    <button class=" px-10 py-3 bg-orange-500 text-white font-semibold rounded text-xl">{{ 'about.page.cv' | trans }}</button>


  </section>

{% endblock %}
