{% extends 'base.html.twig' %}

{% trans_default_domain 'home_content' %}

{% block title %}
    {{ 'home.page.mainTitle'| trans }}
{% endblock %}

{% block body %}

    <header class="mt-8 mb-36 ml-4" id="logo">
        <div class="w-1/12">
            <img src="../../img/logo2_light.png" alt="" class="text-black">
        </div>
    </header>

    <section class="container max-w-6xl mx-auto mb-48 text-center flex justify-center">
        <div class="mb-12 mr-5">
            <div class="block rounded-lg px-6 py-12 md:px-12 lg:-mr-14">
                <h1 class="text-4xl md:text-5xl xl:text-6xl font-bold tracking-tight mb-12 dark:text-white">{{ 'home.page.title1'| trans }}
                    <span class="text-amber-600">P</span>IERRE<br/>{{ 'home.page.title2'| trans }}<br/>{{ 'home.page.title3'| trans }} <br/><span class="text-2xl dark:text-gray-600 text-gray-400 font-semi-bold">{{ 'home.page.title4'| trans }}</span></h1>
                <a class="tracking-widest contact inline-block px-7 py-3 mb-2 md:mb-0 md:mr-2 outline outline-offset-0 outline-amber-600 text-amber-600 font-medium text-sm leading-snug uppercase rounded shadow-md hover:text-black hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button"><span>{{ 'home.page.button1' | trans }}</span></a>
                <a class="tracking-widest inline-block px-7 py-3 bg-transparent text-amber-600 font-medium text-md leading-snug uppercase rounded hover:dark:text-white hover:text-black hover:dark:bg-transparent hover:bg-gray-400  focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">{{ 'home.page.button2'| trans }}</a>
            </div>
        </div>

    </section>


    {% include 'about/_profil.html.twig'%}
    {% include 'skills/_skills.html.twig'%}
    {% include 'projets/_projets.html.twig'%}
    {% include 'contact/_contact.html.twig'%}
    {# {% include 'shared/_footer.html.twig'%} #}

{% endblock %}
