<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Ajout CDN FontAwesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="../../style_perso.css/style.css" />
        <link rel="stylesheet" href="../../style_perso.css/btnStyle.css" />
        <link rel="icon" type="image/jpg" href="{{ asset('favicon.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="dark:bg-zinc-900 bg-zinc-300">

        {# Message Flash #}
        {# {% for rubrique, messages in app.flashes %}
            <div class="alert alert-{{ rubrique }} text-center mb-4 rounded-lg bg-success-100 py-5 px-6 text-base text-success-700" role="alert">
                {% for message in messages %}
                    <p class="">{{ message | trans}}</p>
                {% endfor %}
            </div>
        {% endfor %} #}

        {% for message in app.flashes('success') %}
            <div class="text-center mb-4 rounded-lg bg-success-100 py-5 px-6 text-base text-success-700" role="alert">
                {{ message| trans }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        {# Navbar #}
        {% include "shared/_navbar.html.twig" %}


        {% include 'shared/_footer.html.twig'%}


        <script src="../../js/mode.js"></script>        
        <script src="../../js/scrollReveal.js"></script>        
        
    </body>
</html>
