{% trans_default_domain 'nav_content' %}

{# MENU BURGER ----- #}
<div class="reveal-3 navbar__menu_burger z-40">
	<button class="burger_box b1">
		<div class="container-lignes">
			<div class="line dark:bg-white bg-black"></div>
			<div class="line dark:bg-white bg-black"></div>
			<div class="line dark:bg-white bg-black"></div>
		</div>
	</button>
</div>


<nav class="navbar navbar-expand-lg shadow-md w-36 min-w-24 pt-48 tablet:pt-28 bg-zinc-400 tablet:dark:bg-amber-800 tablet:w-full tablet:h-full dark:bg-transparent dark:text-white text-black flex flex-col h-screen fixed top-0 right-0">

	<div class="text-center tablet:text-md">
		<ul>
			<li class=" py-3 ">
				<a href="#about" class="hover:text-amber-600 font-medium" >{{ 'nav.element1'| trans }}</a>
			</li>
			<li class=" py-3">
				<a href="#skills" class="hover:text-amber-600 font-medium">{{ 'nav.element2'| trans }}</a>
			</li>
			<li class=" py-3">
				<a href="#projects" class="hover:text-amber-600 font-medium">{{ 'nav.element3'| trans }}</a>
			</li>
			<li class=" py-3">
				<a href="#contact" class="hover:text-amber-600 font-medium">{{ 'nav.element4'| trans }}</a>
			</li>
		</ul>
	</div>

	<hr class="w-1/2 mx-auto mt-4">

	<div class="mt-2 text-black text-center ">
		<div class="text-center relative left-1/2">

			{# Affichage drapeaux des langues #}
			{{ readInThisLanguageButton(app.request.getLocale()) }}

		</div>
	</div>
	<div class=" mt-4 flex items-center justify-center ">
		<div class="text-center relative left-4 w-1/5 tablet:w-8 bg-white rounded-md ">
			<button class="">
				<i class="fa-solid fa-moon moon text-black"></i>
				<i class="fa-regular fa-lightbulb sun text-black "></i>
			</button>
		</div>
	</div>
</nav>


{% block javascript %}
    <script type="text/javascript">
        const box = document.querySelector('.burger_box');
        const modalbox = document.querySelector('.navbar');
       

        box.addEventListener('click', e => {
            e.target.classList.toggle('active_burger');
            modalbox.classList.toggle('show__modal_burger');
        })
    </script>
{% endblock  %}
