{% extends 'base.html.twig' %}

{% trans_default_domain 'projects_content' %}


{% block title %}{{ 'projects.page.mainTitle'| trans }}{% endblock %}

{% block body %}

<section class="container max-w-5xl mx-auto py-8 h-screen dark:text-white">
    <div>
        <div>
            <h1 class="text-3xl font-semibold text-gray-500">{{ 'projects.page.subtitle'| trans }}</h1>
            <h2 class="text-7xl font-black">{{ 'projects.page.title'| trans }}</h2>
        </div>
    </div>

    <div class="mt-10 box_pivot">
        <div class="box-inner">
            <div class="box_front">
                <div class="p-2">
                    <h2>Evolution-fit -- <span class="font-semibold">E-commerce</span></h2>
                </div>
                <div class="mt-2">
                    
                    <img src="../../img/mockup_1.jpg" alt="Photo d'accueil du site">
                    
                    {# <p>Evolution-fit est un magasin en ligne où les utilisateurs peuvent se connecter, parcourir les catégories,
                    choisir des produits en les plaçant dans leur panier et enfin passer la commande.</p> #}
                    <div class="mt-5 text-center">
                        <h3 class="font-semibold">Technologies: </h3>

                        <span class="bg-slate-400 rounded-xl m-1 w-4 h-1 text-sm p-1">Javascript</span><span class="bg-slate-400 rounded-xl m-1  w-4 h-1 text-sm p-1">PHP</span><span class="bg-slate-400 rounded-xl m-1 w-4 h-1 text-sm p-1">MySQL</span>
                        <span class="bg-slate-400 rounded-xl m-1 w-4 h-1 text-sm p-1">Symfony</span><span class="bg-slate-400 rounded-xl m-1  w-4 h-1 text-sm p-1">Bootstrap</span><span class="bg-slate-400 rounded-xl m-1 w-4 h-1 text-sm p-1">Mailtrap</span><br/>
                        <span class="bg-slate-400 rounded-xl m-1 w-4 h-1 text-sm p-1">Stripe API</span><span class="bg-slate-400 rounded-xl m-1  w-4 h-1 text-sm p-1">Hostinger</span>
                        
                    </div>
                </div>
            </div>
            <div class=" box_back text-center bg-blue-800 text-white">
                <p class="mt-5">{{ 'projects.page.text'| trans }}</p>
                <button class="mt-10 bg-black text-white px-6 y-4 rounded-xl">{{ 'projects.page.button'| trans }}</button>
            </div>
        </div>    
    </div>

</section>

{% endblock %}
